<div class="center">
  <p id="notice"><%= notice %></p>
  <%= search_form_for @q do |f| %>
    <%= f.label :station, t('activerecord.attributes.search.station') %>
    <%= f.search_field :station_cont %>
    <%= f.label :openings_day_week_cont, t('activerecord.attributes.search.day_week') %>
    <%= f.select :openings_day_week_cont, [['月','月'],['火','火'],['水','水'],['木','木'],['金','金'],['土','土'],['日','日'],['祝','祝']],:include_blank => true %>
    <br>
    <%= f.label :openings_open_hour_lteq, t('activerecord.attributes.search.search_time') %>
    <%= f.time_select :openings_open_hour_lteq, :include_blank => true %>
    <%= f.label :openings_last_order_gteq, "~" %>
    <%= f.time_select :openings_last_order_gteq, :include_blank => true %>
    <%= f.submit t('helpers.select.search') %>
  <% end %>
</div>
<h3 class="center red">行きたい時間帯は営業開始時間と終了時間から検索しています。</h3>
<p class="center">検索開始時間に気をつけて入力してください。</p>

<table class="center">
  <thead>
    <tr>
      <th class="center"><%= t('activerecord.attributes.store.name') %></th>
      <th class="center"><%= t('activerecord.attributes.store.regular_holiday') %></th>
      <th class="center"><%= t('activerecord.attributes.store.open_closed') %></th>
      <th class="center"><%= t('activerecord.attributes.store.line_name') %></th>
      <th class="center"><%= t('activerecord.attributes.store.station') %></th>
      <th class="center"><%= t('activerecord.attributes.store.address') %></th>
      <th class="center"><%= t('activerecord.attributes.store.contact') %></th>
    </tr>
  </thead>
  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <td>
        <%= link_to store.name, store_path(store.id) %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <br>
            <%= link_to t('helpers.select.edit'), edit_store_path(store),class: "btn btn-info btn-xs" %>
            <br>
            <%= link_to t('helpers.select.destroy'), store, method: :delete, data: {confirm: 'deleted？'},class: "btn btn-danger btn-xs" %>
          <% end %>
        <% end %>
      </td>
      <td><%= store.regular_holiday %></td>
      <td><%= store.open_closed %></td>
      <td><%= store.line_name %></td>
      <td><%= store.station %></td>
      <td><%= store.address %></td>
      <td><%= store.contact %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="center">
<%= paginate @stores if @stores.present? %>
</div>
