<h1>Ramen searcher</h1>
<p id="notice"><%= notice %></p>
<%#= search_form_for @q do |i| %>
  <%#= i.label :name, "store_name" %>
  <%#= i.search_field :name_cont %>
  <%#= i.label :station, "station" %>
  <%#= i.search_field :station_cont %>
  <%#= i.submit "search" %>
<%# end %>
<%= search_form_for @q do |f| %>
  <%= f.label :station, t('activerecord.attributes.search.station') %>
  <%= f.search_field :station_cont %>
  <%= f.label :openings_day_week_cont, t('activerecord.attributes.search.day_week') %>
  <%= f.select :openings_day_week_cont, [['月','月'],['火','火'],['水','水'],['木','木'],['金','金'],['土','土'],['日','日'],['祝','祝']],:include_blank => true %>
  <br>
  <%= f.label :openings_open_hour_lteq, t('activerecord.attributes.search.search_time') %>
  <%= f.time_select :openings_open_hour_lteq, :include_blank => true %>
  <%= f.label :openings_last_order_gteq, "~" %>
  <%= f.time_select :openings_last_order_gteq, :include_blank => true %>
  <%= f.submit t('helpers.select.search') %>
<% end %>
<table>
  <thead>
  <tr>
    <th><%= t('activerecord.attributes.store.name') %></th>
    <th><%= t('activerecord.attributes.store.address') %></th>
    <th><%= t('activerecord.attributes.store.contact') %></th>
    <th><%= t('activerecord.attributes.store.line_name') %></th>
    <th><%= t('activerecord.attributes.store.station') %></th>
    <th><%= t('activerecord.attributes.store.open_closed') %></th>
    <th><%= t('activerecord.attributes.store.regular_holiday') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.address %></td>
      <td><%= store.contact %></td>
      <td><%= store.line_name %></td>
      <td><%= store.station %></td>
      <td><%= store.open_closed %></td>
      <td><%= store.regular_holiday %></td>
      <td><%= link_to t('helpers.select.show'), store_path(store.id) %></td>
      <% if user_signed_in? %>
        <% if current_user.admin? %>
          <td><%= link_to t('helpers.select.edit'), edit_store_path(store) %></td>
          <td><%= link_to t('helpers.select.destroy'), store, method: :delete, data: {confirm: 'deleted？'} %></td>
        <% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @stores if @stores.present? %>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to  t('view.models.store.new'), new_store_path %>
  <% end %>
<% end %>