<h1>Store details</h1>
<p>name:<%= @store.name %></p>
<p>address:<%= @store.address %></p>
<p>contact:<%= @store.contact %></p>
<p>line_name:<%= @store.line_name %></p>
<p>station:<%= @store.station %></p>
<p>minutes_on_foot:<%= @store.minutes_on_foot %>分</p>
<p>link:<%= @store.link %></p>
<p>open_closed:<%= @store.open_closed %></p>
<p>regular_holiday:<%= @store.regular_holiday %></p>
<p>note:<%= @store.note %></p>
<p>latitude:<%= @store.latitude %></p>
<p>longitude:<%= @store.longitude %></p>

<% @tag_number = 1 %>
<% @store.menus.each do |menu| %>
  <h3>menu<%= @tag_number %></h3>
  <% @tag_number += 1 %>

  <p class = "container">
    <strong>name:</strong>
    <%= menu.name %>
  </p>
  <p class = "container">
    <strong>price:</strong>
    <%= menu.price %>
  </p>

  <p class = "container">
    <strong>taste:</strong>
    <%= menu.taste %>
  </p>

<% end %>

<% @tag_number = 1 %>
<% @store.openings.each do |opening| %>
  <h3>opening<%= @tag_number %></h3>
  <% @tag_number += 1 %>

  <p class = "container">
    <strong>open_hour:</strong>
    <%= opening.open_hour %>
  </p>
  <p class = "container">
    <strong>last_order:</strong>
    <%= opening.last_order %>
  </p>

  <p class = "container">
    <strong>day_week:</strong>
    <%= opening.day_week %>
  </p>

  <p class = "container">
    <strong>weeks:</strong>
    <%= opening.weeks %>
  </p>

<% end %>


<%= link_to 'back', stores_path %>