<h1>Store details</h1>
<p>name:<%= @store.name %></p>
<p>address:<%= @store.address %></p>
<p>contact:<%= @store.contact %></p>
<p>line_name:<%= @store.line_name %></p>
<p>station:<%= @store.station %></p>
<p>minutes_on_foot:<%= @store.minutes_on_foot %>分</p>
<p>link:<%= @store.link %></p>
<p>open_closed:<%= @store.open_closed %></p>
<p>regular_holiday:<%= @store.regular_holiday %></p>
<p>note:<%= @store.note %></p>
<p>latitude:<%= @store.latitude %></p>
<p>longitude:<%= @store.longitude %></p>

<%= link_to 'back', stores_path %>