<h1><%= t('activerecord.attributes.user.profile') %></h1>
<p><%= t('activerecord.attributes.user.name') %> : <%= @user.name %></p>
<p><%= t('activerecord.attributes.user.email') %> : <%= @user.email %></p>
<h3><%= t('activerecord.attributes.favorite.store') %></h3>
<% @favorites.each do |favorite| %>
  <% store = Store.find_by(id: favorite.store_id) %>
  <%= link_to store.name, store_path(favorite.store.id) %>
<% end %>