<%= form_with(model: @review, local: true) do |form| %>
  <h5><%= t('activerecord.attributes.review.form') %></h5>
  <h5>評価の点数はは0.1〜5まで入力可能です。</h5>
  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>
  <div class="field">
    <%= form.label :comment%>
    <%= form.text_area :comment %>
  </div>

  <div class="field">
    <%= form.hidden_field :store_id, value: @store.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="inline_block">
    <%= form.file_field :image %>
  </div>
  <br>
  <%= form.submit 'submit' %>
<% end %>
