<%= form_with(model: @review, local: true) do |form| %>
<h1>review </h1>
  <div class="field">
    <%= form.label :rating %>
    <%= form.text_field :rating %>
  </div>
  <div class="field">
    <%= form.label :comment%>
    <%= form.text_field :comment %>
  </div>

  <div class="field">
    <%#= form.label :store_id %>
    <%= form.hidden_field :store_id, value: @store.id %>
    <%#= form.text_field :store_id %>
  </div>

  <div class="field">
    <%#= form.label :user_id %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="field">
    <%#= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <%= form.submit 'submit' %>
<% end %>