<!DOCTYPE html>
<div>
  <head>
    <title>RamenSearcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default bg-dark navbar-dark navbar-expand-md mb-3">
      <div class="container-fluid">

      <a class="navbar-brand" href="/">Ramen Searcher</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <% if user_signed_in? %>
          <li class="nav-item navbar-light">
            <%= link_to t('activerecord.attributes.user.profile'), user_path(current_user.id) ,{class: "nav-link"}%>
          </li>
          <li class="nav-item">
            <%= link_to t('activerecord.attributes.user.logout'), destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to t('activerecord.attributes.user.regist'), new_user_registration_path,{class: "nav-link"} %>
            </li>
            <li class="nav-item">
              <%= link_to t('activerecord.attributes.user.login'), new_user_session_path,{class: "nav-link"} %>
            </li>
          <% end %>
        </ul>
          <ul class="navbar-nav ml-auto">
            <%if user_signed_in? %>
              <% if current_user.admin? %>
                <li class="nav-item navbar-light">
                  <%= link_to t('activerecord.attributes.user.admin'), '/admin',{class: "nav-link"} %>
                </li>
                <li class="nav-item navbar-light">
                  <%= link_to t('view.models.store.new'), new_store_path,{class: "nav-link"} %>
                </li>
              <% end %>
            <% end %>
          </ul>
      </div>
      </div>
    </nav>
    <%= yield %>
  </body>
  <div class="push">

  </div>
  <footer class="footer bg-dark">
    <div class="footer_container">
      <p class="text-muted">Copyright © 2020 Yuya tanaka All Rights Reserved.</p>
    </div>
  </footer>
</div>
</html>
