<!DOCTYPE html>
<html>
  <head>
    <title>RamenSearcher</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to t('activerecord.attributes.search.index'), stores_path %>
      <%= link_to t('activerecord.attributes.user.profile'), user_path(current_user.id) %>
      <%= link_to t('activerecord.attributes.user.logout'), destroy_user_session_path, method: :delete %>
      <% if current_user.admin? %>
        <%= link_to t('activerecord.attributes.user.admin'), '/admin' %>
        <%= link_to t('view.models.store.new'), new_store_path %>
      <% end %>
    <% else %>
      <%= link_to t('activerecord.attributes.user.regist'), new_user_registration_path %>
      <%= link_to t('activerecord.attributes.user.login'), new_user_session_path %>
    <% end %>
<!--    <p class="notice"><%#= notice %></p>-->
<!--    <p class="alert"><%#= alert %></p>-->
    <%= yield %>
  </body>
</html>
